.container {
  display: grid;
  grid-template-columns: [first] 150px [second] 200px [third] 300px [last] ;
  grid-template-rows: 1fr 2fr;
  /*height: 400px;
  width: 500px;*/
}
.item {
  width: 100px;
  height: 100px;
  font-size: 30px;
  text-align: center;
}
.item-1 {
  background-color: red;
}
.item-2 {
  background-color: blue;
  color: white;
}
.item-3 {
  background-color: green;
}
.item-4 {
  background-color: yellow;
}
.item-5 {
  background-color: orange;
}
.item-6 {
  background-color: violet;
}
