.container {
  display: grid;
}
.item {
  width: 100px;
  height: 100px;
  font-size: 30px;
  text-align: center;
}
.item-1 {
  background-color: red;
}
.item-2 {
  background-color: blue;
  color: white;
}
.item-3 {
  background-color: green;
}
.item-4 {
  background-color: yellow;
}
.item-5 {
  background-color: orange;
}
.item-6 {
  background-color: violet;
}
